html,
body,
#app {
    margin: 0;
    padding: 0;
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 100%;
    color: white;
    font-family: "MonospaceTypewriter";
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}