html,
body,
#app {
    margin: 0;
    padding: 0;
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 100%;
    color: white;
    font-family: "MonospaceTypewriter";
}

button {
    font-family: "MonospaceTypewriter";
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-affordable {
    background-color: rgb(108, 107, 116);
    border: 2px solid green;
}

.button-affordable:hover {
    background-color: rgb(180, 180, 180);
}

.button-unaffordable {
    background-color: rgb(86, 85, 92);
    border: 2px solid red;
}